/* universal rules */

* {
  font-family: "Helvetica";
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

h4, p {
  font-size: 22px;
}

/* navigation bar */

.flex-container {
  display: flex;
  position: fixed;
  z-index: 1;
  width: 100%;
  background: black;
  border-bottom: 1px solid seashell;
  height: 69px;
}

.title {
  justify-content: flex-start;
  flex-grow: 1;
}

.title img {
  height: 50px;
}

.nav-bar {
  justify-content: flex-end;
  margin-top: 15px;
}

.nav-bar a {
  padding-right: 20px;
  color: white;
  font-size: 22px;
}

/* body */

.themastercontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-container1 {
  display: flex;
  flex-direction: column;
  background-image: url("../images/img-mission-background.jpg");
  background-repeat: no-repeat;
  height: 450px;
  width: 1200px;
  padding-top: 400px;
}

.text {
  text-align: center;
}

.flex-container2 {
  display: flex;
  flex-direction: column;
  width: 1000px;
}

.flex-container2a {
  display: flex;
  width: 1000px;
  justify-content: center;
}

.flex-container2a img {
  height: 200px;
  width: 300px;
  padding: 0 15px;
}

.item p {
  padding-left: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.finalbackground {
  background-image: url("../images/img-locations-background.jpg");
  height: 500px;
  width: 1200px;
  padding-top: 70px;
}

.flex-container3 {
  display: flex;
  flex-direction: column;
  height: 0px;
}

.flex-container3a {
    width: 300px;
    height: 300px;
    margin-top: 150px;
    margin-right: 40px;
  }
