/* universal rules */

* {
  font-family: "Helvetica";
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

/* navigation bar */

.flex-container {
  display: flex;
  border-bottom: 1px solid seashell;
  height: 69px;
}

.title {
  justify-content: flex-start;
  flex-grow: 1;
}

.title img {
  height: 50px;
}

.nav-bar {
  justify-content: flex-end;
  margin-top: 15px;
}

.nav-bar a {
  padding-right: 20px;
  color: white;
}

/* body */

.flex-container1 {
  display: flex;
  flex-direction: column;
  background-image: url("../images/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
}

.text {
  margin-top: 370px;
  text-align: center;
}
